*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-grid {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
    height: 80px;
}

.menu {

    display: flex;
    justify-content: space-between;
    width: 600px;
}